body
	font-size: $text-sm
	line-height: 1
	color: $black-lighten
	+font-family($exo)
	font-weight: 400
	min-width: 1100px
	&.popup-open
		overflow: hidden
		padding-right: 17px
p,a,span,input,h1,h2,h3,h4,h5,h6
	letter-spacing: .025em
a
	text-decoration: none
	color: $black-lighten
p
	font-size: $text-reg
	color: #818181
	line-height: 1.5
	margin-bottom: 22px
	span
		color: $black-lighten
	strong
		font-weight: 700
		color: $black-lighten
button
	border: none
	outline: none
	cursor: pointer
img
	max-width: 100%

h1,h2,h3,h4,h5,h6
	font-weight: 700
	color: $white
h2
	font-size: 60px
	line-height: 1.2
	font-weight: 700
	margin-bottom: 37px
h3
	font-size: 30px
	color: $black-lighten
	+font-family($futuraPT)
	text-transform: uppercase
	letter-spacing: .1em
	span
		color: $pink
h4
	font-size: 24px
	line-height: 1.33
.inner
	max-width: 1100px
	width: 100%
	padding: 0 10px
	margin: 0 auto
	+clr
.out
	position: relative
	max-width: 1920px
	width: 100%
	margin: 0 auto
// slick
.slick
	&-dots
		button
			padding: 0
			width: 10px
			height: 10px
			background-color: $white
			border: 2px solid $black
			outline: none
			transition: background-color .3s ease-in-out, border-color .3s ease-in-out
		li
			padding: 0 4px
			&.slick-active
				button
					opacity: 1
					background-color: $black
					border-color: $white

// grid
.row
	+clr
	margin: 0 -20px
.col
	float: left
	padding: 0 20px
	&-6
		width: 50%
	&-3
		width: 25%
	&-4
		width: 33.33%
	&-9
		width: 75%
	&-12
		width: 100%
	&-20
		width: 20%
	&-22
		width: 22%
	&-18
		width: 18%

.text-center
	text-align: center
// title
.title
	padding: 76px 0
	&_center
		text-align: center
	&_inline
		+clr
		h3
			display: inline-block
			margin-right: 20px

// animation-line
.animation-line
	padding-bottom: 6px
	position: relative
	&:before
		content: ""
		width: 100%
		height: 1px
		background-color: $pink
		position: absolute
		bottom: 0
		left: 0
		transform: scale(1, 1)
		transition: transform .2s linear, background .3s linear
	&:hover
		&:before
			transform: scale(0, 1)

// rate
.rate
	font-size: 0
	margin: 0 -3px
	li
		display: inline-block
		&.active
			.icon-star
				+sprite($s-icon-star-full)
		a
			padding: 0 3px
			display: inline-block
	&_big
		margin: 0 -5px
		li
			&.active
				.icon-star-big
					+sprite($s-icon-star-full-big)
			a
				padding: 0 5px

// input
.textarea
	height: 140px
	padding: 10px 20px
	resize: none
	&-md
		height: 170px
.input,
.textarea
	font-size: $text-reg
	letter-spacing: .025em
	color: $black-lighten
	outline: none
	+font-family($exo)
	+placeholder($black-lighten)
	max-width: 420px
	width: 100%
	border: 1px solid #818181
	background-color: #f5f5f5
	&:focus
		border-color: $black-lighten
.input
	height: 50px
	padding: 3px 20px 6px
	&.error
		border-color: $pink
	&__address
		position: relative
		.input
			border: none
			border-bottom: 1px solid $black-lighten
			padding: 8px 25px 7px 0
			font-size: $text-xs
			background-color: transparent
			height: auto
		button
			font-size: 0
			padding: 10px 8px
			position: absolute
			right: -8px
			bottom: 0
			background-color: transparent

// social
.social
	font-size: 0
	margin: 0 -10px
	li
		display: inline-block
		vertical-align: top
		margin-bottom: 10px
		a
			padding: 0 10px
			display: inline-block


// menu
.menu
	padding: 20px 0
	border-top: 1px solid #9ea2a8

// dropdown
.dropdown
	width: 160px
	padding: 10px
	border-radius: 3px
	box-shadow: 0 -3px 5px rgba($black, .1)
	position: absolute
	left: 50%
	top: 100%
	transform: translateX(-50%)
	z-index: 99999
	background-color: $white
	text-align: center
	&:before
		content: ""
		position: absolute
		bottom: 100%
		left: 50%
		margin-left: -5px
		+arr(10, 5, $white, t)
	li
		a
			padding: 9px 0
			letter-spacing: .2em
			font-size: 10px
			display: block
			font-weight: 700
			color: $black-lighten
			text-transform: uppercase
			transition: color .3s linear
			&:hover
				color: $pink

// popup
.popup
	background-color: rgba($black, .5)
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	z-index: 9999
	+vertical
	display: none
	&__inner
		display: inline-block
		vertical-align: middle
		text-align: left
		&_md
			max-width: 640px
	&__content
		padding: 80px
		background-color: $white
		box-shadow: 0 0 10px rgba(#0a0f17, .25)
		position: relative
		font-size: $text-sm
		&_center
			text-align: center
		.btn-close
			position: absolute
			font-size: 0
			right: 10px
			top: 10px
			padding: 10px
		p
			margin-bottom: 70px
	&__title
		font-size: 32px
		line-height: 1.125
		font-weight: 700
		margin-bottom: 62px
.popup-aside
	&:before
		display: none
	text-align: right
	.popup__content
		display: inline-block
		text-align: left
		width: 360px
		height: 100%
		background-color: $white
		z-index: 9999
		padding: 30px 0 40px
			// display: none

// breadcrumbs
.breadcrumbs
	font-size: 0
	margin: 0 -12px
	li
		display: inline-block
		padding: 0 2px
		position: relative
		&:not(:last-child)
			&:before
				content: ""
				width: 4px
				height: 4px
				background-color: $pink
				border-radius: 50%
				position: absolute
				right: -2px
				top: 50%
		&.current
			a
				cursor: default
				pointer-events: none
				color: $white
		a
			padding: 0 10px
			font-size: $text-xs
			color: #9ea2a8
			letter-spacing: .05em
			display: inline-block
	&_right
		float: right
		padding-top: 13px
		li
			&.current
				a
					color: $black-lighten

// aside
.aside
	padding: 80px 20px 20px 0
	background-color: #f5f5f5
	position: relative
	&:before
		content: ""
		position: absolute
		top: 0
		right: 100%
		height: 100%
		width: 3000px
		background-color: #f5f5f5
	&__title
		font-weight: 700
		font-size: $text-exmd
		margin: -5px 0 15px 0

// checkbox
.checkbox
	min-height: 20px
	min-width: 20px
	display: inline-block
	cursor: pointer
	font-weight: 400
	position: relative
	&_black
		.checkbox__icon
			border-color: $black-lighten
		.checkbox__text
			color: $black-lighten
	&:hover
		.checkbox__icon
			border-color: $pink
	input[type=radio]:checked ~ .checkbox__icon,
	input[type=checkbox]:checked ~ .checkbox__icon
		border-color: $black-lighten
		&:before
			opacity: 1
			visibility: visible
	&__text
		display: inline-block
		vertical-align: top
		margin-left: 30px
		padding-top: 3px
		color: #818181
		font-size: $text-sm
		span
			margin-left: 11px
			color: #c6c7c8
			font-size: $text-xs
.checkbox__icon,
.filter__icon
	position: absolute
	width: 20px
	height: 20px
	left: 0
	top: 0
	background-color: $white
	border-radius: 2px
	border: 1px solid $white
	transition: border-color .3s linear
	&:before
		content: ""
		width: 10px
		height: 10px
		background-color: $black-lighten
		border-radius: 2px
		position: absolute
		left: 4px
		top: 4px
		opacity: 0
		visibility: hidden
		transition: opacity .3s linear, visibility .3s linear

input[type="checkbox"],
input[type="radio"]
	display: none

// select
.select
	background-color: #f5f5f5
	border: none
	+font-family($exo)
	padding: 6px 15px
	height: 30px
	-webkit-appearance: none
	outline: none
	cursor: pointer
	border-radius: 2px
	&:focus
		border-color: $black-lighten
	&_lg
		height: 50px
		width: 100%
		font-size: $text-reg
		padding: 4px 20px 6px
		border: 1px solid #818181


// filter
.filter
	border-bottom: 1px solid $white
	&__item
		font-size: 0
		margin-bottom: 10px
	&__title
		a
			text-transform: uppercase
			letter-spacing: .2em
			font-size: $text-xs
			font-weight: 700
			display: block
			color: $black-lighten
			padding: 20px 0
	&__checkboxes
		padding-bottom: 10px
	&__btn
		margin-bottom: 10px
		font-size: 0
		a
			position: relative
			padding-left: 20px
			min-width: 20px
			min-height: 20px
			display: inline-block
			&:hover
				.filter__icon
					border-color: $pink
	&__text
		color: #9ea2a8
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		padding-top: 2px
		font-size: $text-sm
	&__icon
		&:before
			display: none
		&:after
			content: ""
			position: absolute
			+arr(8, 4, #9ea2a8, b)
			left: 5px
			top: 8px

// sotring
.sorting
	margin-bottom: 20px
	+clr
	&__title
		float: left
		margin: 0 40px 20px 0
		letter-spacing: .2em
		font-weight: 700
		font-size: $text-xs
		text-transform: uppercase
	&__list
		margin: 0 -20px 10px
		padding-top: 2px
		float: left
		font-size: 0
		li
			display: inline-block
			padding: 0 20px
			&.active
				a
					color: $pink
					&:before
						transform: scale(1,1)
			a
				font-size: 10px
				text-transform: uppercase
				letter-spacing: .2em
				color: #818181
				position: relative
				font-weight: 700
				&:before
					background-color: $black-lighten
					transform: scale(0, 1)

// tabs
.tabs
	&__controls
		background-color: $black-lighten
		font-size: 0
		margin-bottom: 70px
	&__control
		width: 33.33%
		display: inline-block
		vertical-align: top
		font-size: $text-xs
		letter-spacing: .2em
		text-transform: uppercase
		text-align: center
		padding: 19px 10px
		font-weight: 700
		color: #9ea2a8
		position: relative
		&.active
			color: $white
			&:before
				display: block
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 100%
			margin-left: -8px
			+arr(16, 8, $black-lighten, b)
			display: none
	&__item
		display: none
		&.active
			display: block

// form
.form
	position: relative
	&__bottom
		padding-top: 17px
		&_right
			text-align: right
	&__link
		text-decoration: underline
		&:hover
			text-decoration: none
	.btn
		margin-top: 5px
.form-indent
	.form__row
		margin: 0 -80px
		.form__col
			padding: 0 80px
.form-step
	margin-bottom: 80px
	.form__row
		margin: 0 -40px
		.form__col
			padding: 0 40px
.form-item
	margin-bottom: 35px
	font-size: 0
	&__title
		padding: 0
		margin-bottom: 15px
		font-size: $text-exmd
		font-weight: 700
		letter-spacing: .025em

