---
title: about
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- preview BEGIN -->
		<div class="preview preview-category" style="background-image: url('img/preview-img-01.png');">
			<div class="preview-category__wrapper">
				<div class="inner">
					<div class="preview-category__content preview-category__content_center">
						<div class="preview-category__title">
							<h2>О магазине</h2>
						</div>
						<ul class="breadcrumbs preview-category__breadcrumbs">
							<li><a href="#">Главная</a></li>
							<li class="current"><a href="#">О магазине</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- preview END -->

		<!-- about BEGIN -->
		<div class="about">
			<div class="inner">
				<div class="article">
					<h2>История магазина</h2>
					<p><span>TheBottle</span> — современная и технологичная алкогольная компания. Мы создали все условия для того, чтобы покупка была максимально удобной для клиента — экономной по времени и деньгам.</p>
					<p><span>Обширный ассортимент.</span> В нашем портфеле почти все лучшие напитки, импортируемые в Украину.</p>
					<p><span>Мы ценим ваше время</span>. Мы прилагаем все усилия, чтобы упростить покупку и сделать доставку максимально оперативной. Клиент получает заказ обычно в течение 24 часов, в удобное время.</p>
					<h2>Важные факты о нашем магазине</h2>
					<p><span>Сайт, которым удобно пользоваться.</span> Удобный поиск и содержательное описание напитков, качественные фотографии, рейтинги ведущих агентств, подборки лучших напитков по цене и качеству, заказ через интернет, телефон.</p>
					<p><span>Рейтинги.</span> Мы собираем подробную информацию об оценках и наградах, присвоенных винам международными рейтинговыми агентствами, а также присваиваем свои рейтинги на основе проведенных нами дегустаций. Нами разработан уникальный алгоритм, позволяющий ранжировать вина на основании взвешенной суммы рейтингов.</p>
					<p><span>Гарантии качества.</span> Все напитки сертифицированы и имеют абсолютную гарантию подлинности. Благодаря оптимальным условиям хранения и доставки, наше вино сохраняет все свои органолептические свойства. Создать в обычных супермаркетах подобные условия сложно. По запросу клиента мы предоставляем сертификаты соответствия на всю продукцию.</p>
					<p><span>Индивидуальный подход к каждому клиенту.</span> Для нас ценен каждый клиент, и мы хотели бы, чтобы наши отношения не ограничивались одним единственным заказом — вы получали бы удовольствие от нашего сотрудничества и наших вин, мы приложим для этого все усилия.</p>
					<p><span>Работаем по закону.</span> Компания TheBottle работает в строгом соответствии с законами Украины и города Киева; не продает и не доставляет алкоголь несовершеннолетним.</p>
				</div>
			</div>

			<!-- reviews BEGIN -->
			<div class="reviews">
				<div class="inner">
					<div class="title title_center">
						Отзывы и оценки покупателей
						<p>Наши покупатели оставили <strong>3 715</strong> отзывов и поставили более <strong>12 839</strong> оценок различным напиткам.</p>
					</div>
					<div class="row">
						<div class="col col-6 col-xs-12">
							<div class="review">
								<div class="review__name">Дмитрий Чупрун</div>
								<ul class="rate">
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li><a href="#"><i class="icon icon-star"></i></a></li>
								</ul>
								<p class="review__text">Один из лучших виски. Люблю пробовать новое. Но регулярно возвращаюсь к старине Джеку</p>
								<div class="review__data">25.05.2017</div>
							</div>
						</div>
						<div class="col col-6 col-xs-12">
							<div class="review">
								<div class="review__name">Дмитрий Чупрун</div>
								<ul class="rate">
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li><a href="#"><i class="icon icon-star"></i></a></li>
								</ul>
								<p class="review__text">Перебор с медом - сделали какой-то ликер из хорошего вискаря. Имхо, конечно, но в хороший кофе я бы его точно не добавлял. М.б. это американская мода ... <a href="#">Читать далее</a></p>
								<div class="review__data">25.05.2017</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col col-6 col-xs-12">
							<div class="review">
								<div class="review__name">Дмитрий Чупрун</div>
								<ul class="rate">
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li><a href="#"><i class="icon icon-star"></i></a></li>
								</ul>
								<p class="review__text">Один из лучших виски. Люблю пробовать новое. Но регулярно возвращаюсь к старине Джеку</p>
								<div class="review__data">25.05.2017</div>
							</div>
						</div>
						<div class="col col-6 col-xs-12">
							<div class="review">
								<div class="review__name">Дмитрий Чупрун</div>
								<ul class="rate">
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
									<li><a href="#"><i class="icon icon-star"></i></a></li>
								</ul>
								<p class="review__text">Перебор с медом - сделали какой-то ликер из хорошего вискаря. Имхо, конечно, но в хороший кофе я бы его точно не добавлял. М.б. это американская мода ... <a href="#">Читать далее</a></p>
								<div class="review__data">25.05.2017</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- reviews END -->
		</div>
		<!-- about END -->


		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
