---
title: cart
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body class="js-body">
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- cart-page BEGIN -->
		<div class="cart-page">
			<div class="inner">
				<div class="title title_inline">
					<h3>корзина<span>.</span></h3>
					<ul class="breadcrumbs breadcrumbs_right">
						<li><a href="#">Главная</a></li>
						<li class="current"><a href="#">Корзина</a></li>
					</ul>
				</div>
				<div class="cart">
					<div class="cart__title">Ваш заказ</div>
					<div class="cart__head">
						<div class="cart__col cart__price">
							<span class="cart__heading">Цена</span>
						</div>
						<div class="cart__col cart__qua">
							<span class="cart__heading">Количество</span>
						</div>
						<div class="cart__col cart__amount">
							<span class="cart__heading">Сумма</span>
						</div>
					</div>
					<div class="cart__body">
						<div class="cart__item">
							<div class="cart__col cart__product">
								<div class="cart__img">
									<img src="img/cart-img-00.png" alt="img">
								</div>
								<div class="cart__info">
									<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
									<div class="cart__categories">Виски</div>
								</div>
								<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
							</div>
							<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
							<div class="cart__col cart__qua">
								<span class="label">Количество</span>
								<div class="cart__select">
									<select class="select js-select" style="width: 100%">
										<option>0.7 литров</option>
										<option>1 литр</option>
										<option>2 литра</option>
									</select>
								</div>
							</div>
							<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
						</div>
						<div class="cart__item">
							<div class="cart__col cart__product">
								<div class="cart__img">
									<img src="img/cart-img-00.png" alt="img">
								</div>
								<div class="cart__info">
									<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
									<div class="cart__categories">Виски</div>
								</div>
								<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
							</div>
							<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
							<div class="cart__col cart__qua">
								<span class="label">Количество</span>
								<div class="cart__select">
									<select class="select js-select" style="width: 100%">
										<option>0.7 литров</option>
										<option>1 литр</option>
										<option>2 литра</option>
									</select>
								</div>
							</div>
							<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
						</div>
						<div class="cart__item">
							<div class="cart__col cart__product">
								<div class="cart__img">
									<img src="img/cart-img-00.png" alt="img">
								</div>
								<div class="cart__info">
									<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
									<div class="cart__categories">Виски</div>
								</div>
								<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
							</div>
							<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
							<div class="cart__col cart__qua">
								<span class="label">Количество</span>
								<div class="cart__select">
									<select class="select js-select" style="width: 100%">
										<option>0.7 литров</option>
										<option>1 литр</option>
										<option>2 литра</option>
									</select>
								</div>
							</div>
							<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
						</div>
						<div class="cart__item">
							<div class="cart__col cart__product">
								<div class="cart__img">
									<img src="img/cart-img-00.png" alt="img">
								</div>
								<div class="cart__info">
									<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
									<div class="cart__categories">Виски</div>
								</div>
								<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
							</div>
							<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
							<div class="cart__col cart__qua">
								<span class="label">Количество</span>
								<div class="cart__select">
									<select class="select js-select" style="width: 100%">
										<option>0.7 литров</option>
										<option>1 литр</option>
										<option>2 литра</option>
									</select>
								</div>
							</div>
							<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
						</div>
					</div>
					<div class="cart__result">
						<div class="cart__row">
							<div class="cart__col cart__label">Количество</div>
							<div class="cart__col cart__number">4 шт.</div>
						</div>
						<div class="cart__row">
							<div class="cart__col cart__label cart__label_bottom">Итого к оплате:</div>
							<div class="cart__col cart__total cart__total_bottom">5 500грн</div>
						</div>
					</div>
					<div class="cart__footer">
						<button class="btn btn_large btn_xl">Оформить заказ</button>
					</div>
				</div>
			</div>
		</div>
		<!-- btn-top BEGIN -->
		<a href=".js-body" class="btn-top js-scroll-to js-btn-top"><i class="icon icon-arrow-top"></i></a>
		<!-- btn-top END -->
		<!-- cart-page END -->
		{% include "partials/_basket-modal.html" %}
		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/perfect-scrollbar.min.js"></script>
	<script src="js/vendor/select2.min.js"></script>
	<script src="js/vendor/jquery.autocomplete.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
