---
title: cart
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- cart-page BEGIN -->
		<div class="cart-page">
			<div class="inner">
				<div class="title title_inline">
					<h3>корзина<span>.</span></h3>
					<ul class="breadcrumbs breadcrumbs_right">
						<li><a href="#">Главная</a></li>
						<li class="current"><a href="#">Корзина</a></li>
					</ul>
				</div>
				<div class="cart">
					<div class="cart__title">Ваш заказ</div>
				</div>
			</div>
		</div>
		<!-- cart-page END -->

		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
