---
title: category
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- preview BEGIN -->
		<div class="preview preview-category" style="background-image: url('img/preview-img-00.png');">
			<div class="preview-category__wrapper">
				<div class="inner">
					<div class="preview-category__content">
						<div class="preview-category__title">
							<h2>Крепкие напитки</h2>
							<p>Ароматные крепкие напитки: виски, бренди, ром, джин, текила, водка, абсент</p>
						</div>
						<ul class="breadcrumbs preview-category__breadcrumbs">
							<li><a href="#">Главная</a></li>
							<li class="current"><a href="#">Крепкие напитки</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- preview END -->

		<!-- col-items BEGIN -->
		<div class="col-items">
			<div class="inner">
				<div class="row">
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-viski.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-brendi.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-rom.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-jin.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-tekila.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-vodka.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
					<div class="col-items__wrapper">
						<div class="col-item">
							<div class="col-item__img">
								<img src="img/img-absent.png" alt="img">
							</div>
							<div class="col-item__content">
								<div class="col-item__title">Виски</div>
								<p>Крепкий алкогольный напиток, получаемый методом дистилляции зернового сусла на основе ячменя, пшеницы, ржи или кукурузы.</p>
								<a href="#" class="col-item__btn col-item__btn_position animation-line">купить виски</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- col-items END -->

		<!-- popular BEGIN -->
		<div class="popular">
			<div class="inner">
				<div class="title">
					<h3>товары в этой категории<span>.</span></h3>
				</div>
				<div class="row">
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_orange">Акция</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_yellow">новинки</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_orange">Акция</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3 col-md-4 col-xs-6 col-xxs-12">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_yellow">новинки</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- popular END -->
		{% include "partials/_basket-modal.html" %}
		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/vendor/jquery.autocomplete.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
