---
title: delivery
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- delivery BEGIN -->
		<div class="delivery">
			<div class="inner">
				<div class="title title_inline">
					<h3>доставка и оплата<span>.</span></h3>
					<ul class="breadcrumbs breadcrumbs_right">
						<li><a href="#">Главная</a></li>
						<li class="current"><a href="#">доставка и оплата</a></li>
					</ul>
				</div>
				<div class="article">
					<h2>Стоимость доставки по Киеву:</h2>
					<ul>
						<li><p>Если сумма заказа составляет <strong>500 грн</strong> и более, доставка по Киеву осуществляется бесплатно;</p></li>
						<li><p>Если сумма заказа менее <strong>500 грн</strong> – стоимость доставки <strong>50 грн</strong></p></li>
					</ul>
					<h2>Стоимость доставки по Киеву:</h2>
					<ul>
						<li><p>Если сумма заказа составляет <strong>500 грн</strong> и более, доставка по Киеву осуществляется бесплатно;</p></li>
						<li><p>Если сумма заказа менее <strong>500 грн</strong> – стоимость доставки <strong>50 грн</strong></p></li>
					</ul>
					<h2>Доставка в другие регионы Украины:</h2>
					<p>Доставка в другие регионы Украины осуществляется посредством "Новой Почты" согласно их тарификации(за счёт покупателя) после 100% предоплаты за товар. Возможность и стоимость доставки в ваш регион вы можете уточнить на сайте <a href="#">www.novaposhta.ua</a> или у нашего менеджера по телефону .</p>
				</div>
			</div>
		</div>
		<!-- delivery END -->
		{% include "partials/_basket-modal.html" %}
		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/vendor/jquery.autocomplete.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
