---
title: TheBottle Main
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- preview BEGIN -->
		<div class="preview">
			<div class="slider slider__preview">
				<div class="js-slider-preview">
					<div class="slider__item" style="background-image: url('img/slider-bg-00.png');">
						<div class="inner">
							<div class="slider__content">
								<div class="slider__wrapper">
									<div class="slider__content_left">
										<h2>Jack Daniel’s Honey</h2>
										<p>Американский виски, который имеет насыщенный аромат и мягкий вкус с нотками дыма.</p>
										<a href="#" class="btn btn_large">купить сейчас</a>
									</div>
									<div class="slider__label">
										<span class="label">премиальный виски</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="preview__btn">
				<a href="#product" class="btn_next js-scroll-to"><span>смотреть далее</span><i class="icon icon-mouse"></i></a>
			</div>
		</div>
		<!-- preview END -->

		<!-- product BEGIN -->
		<div class="product" id="product">
			<div class="inner">
				<div class="row">
					<div class="col col-6">
						<div class="banner" style="background-image: url('img/product-bg-00.png');">
							<div class="banner__wrapper">
								<h4>Johnnie Walker</h4>
								<p>виски</p>
								<a href="#" class="banner__buy banner_position animation-line">купить сейчас</a>
							</div>
						</div>
					</div>
					<div class="col col-6">
						<div class="banner" style="background-image: url('img/product-bg-01.png');">
							<div class="banner__wrapper">
								<h4>Ram's Gate</h4>
								<p>вино</p>
								<a href="#" class="banner__buy banner_position animation-line">купить сейчас</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- product END -->

		<!-- popular BEGIN -->
		<div class="popular">
			<div class="inner">
				<div class="title">
					<h3>Популярные товары<span>.</span></h3>
				</div>
				<div class="row">
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_orange">Акция</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_yellow">новинки</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Baileys Original, 0.7 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_orange">Акция</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-3">
						<div class="item">
							<div class="item__wrapper">
								<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
								<div class="item__sticker item__sticker_yellow">новинки</div>
								<div class="item__img">
									<img src="img/popular-img-00.png" alt="img">
								</div>
								<div class="item__rate">
									<ul class="rate">
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
										<li><a href="#"><i class="icon icon-star"></i></a></li>
									</ul>
								</div>
								<div class="item__name">Johnnie Walker Red Rye Finish, 1 л</div>
								<div class="item__categories">Ликер</div>
								<div class="item__price"><span class="item__price_old">1500 грн</span><span class="item__price_default">510 грн</span></div>
								<div class="item__btn">
									<a href="#" class="btn btn_block btn_small"><i class="icon icon-basket"></i><span>в корзину</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- popular END -->

		<!-- categories BEGIN -->
		<div class="categories">
			<div class="inner">
				<div class="title">
					<h3>категории<span>.</span></h3>
				</div>
				<div class="box box_left">
					<div class="box__img">
						<div class="img" style="background-image: url('img/categories-img-large-00.png');"></div>
					</div>
					<div class="box__wrapper">
						<div class="box__content">
							<span>Вина и игристые вина</span>
							<p>Вино – это настроение, разговор, отношения. Речь течёт вместе с вином. Оно естественно входит в состав итальянского, французского, испанского языков.</p>
							<a href="#" class="box__btn animation-line">перейти в категорию</a>
						</div>
					</div>
				</div>
				<div class="box box_right">
					<div class="box__img">
						<div class="img" style="background-image: url('img/categories-img-small-00.png');"></div>
					</div>
					<div class="box__wrapper">
						<div class="box__content">
							<span>Вина и игристые вина</span>
							<p>Вино – это настроение, разговор, отношения. Речь течёт вместе с вином. Оно естественно входит в состав итальянского, французского, испанского языков.</p>
							<a href="#" class="box__btn animation-line">перейти в категорию</a>
						</div>
					</div>
				</div>
				<div class="box box_left">
					<div class="box__img">
						<div class="img" style="background-image: url('img/categories-img-large-00.png');"></div>
					</div>
					<div class="box__wrapper">
						<div class="box__content">
							<span>Вина и игристые вина</span>
							<p>Вино – это настроение, разговор, отношения. Речь течёт вместе с вином. Оно естественно входит в состав итальянского, французского, испанского языков.</p>
							<a href="#" class="box__btn animation-line">перейти в категорию</a>
						</div>
					</div>
				</div>
				<div class="box box_right">
					<div class="box__img">
						<div class="img" style="background-image: url('img/categories-img-small-00.png');"></div>
					</div>
					<div class="box__wrapper">
						<div class="box__content">
							<span>Вина и игристые вина</span>
							<p>Вино – это настроение, разговор, отношения. Речь течёт вместе с вином. Оно естественно входит в состав итальянского, французского, испанского языков.</p>
							<a href="#" class="box__btn animation-line">перейти в категорию</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- categories END -->

		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
