---
title: ordering
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- ordering-page BEGIN -->
		<div class="ordering-page">
			<div class="inner">
				<div class="title title_inline">
					<h3>корзина<span>.</span></h3>
					<ul class="breadcrumbs breadcrumbs_right">
						<li><a href="#">Главная</a></li>
						<li class="current"><a href="#">Оформление заказа</a></li>
					</ul>
				</div>
				<div class="cart">
					<div class="cart__title">Ваш заказ</div>
					<div class="cart__head">
						<div class="cart__col cart__price">
							<span class="cart__heading">Цена</span>
						</div>
						<div class="cart__col cart__qua">
							<span class="cart__heading">Количество</span>
						</div>
						<div class="cart__col cart__amount">
							<span class="cart__heading">Сумма</span>
						</div>
					</div>
					<div class="cart__body">
						<div class="cart__scroll scrollbar">
							<div class="cart__item">
								<div class="cart__col cart__product">
									<div class="cart__img">
										<img src="img/cart-img-00.png" alt="img">
									</div>
									<div class="cart__info">
										<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
										<div class="cart__categories">Виски</div>
									</div>
									<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
								</div>
								<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
								<div class="cart__col cart__qua">
									<span class="label">Количество</span>
									<div class="cart__select">
										<select class="select js-select" style="width: 100%;">
											<option>0.7 литров</option>
											<option>1 литр</option>
											<option>2 литра</option>
										</select>
									</div>
								</div>
								<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
							</div>
							<div class="cart__item">
								<div class="cart__col cart__product">
									<div class="cart__img">
										<img src="img/cart-img-00.png" alt="img">
									</div>
									<div class="cart__info">
										<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
										<div class="cart__categories">Виски</div>
									</div>
									<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
								</div>
								<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
								<div class="cart__col cart__qua">
									<span class="label">Количество</span>
									<div class="cart__select">
										<select class="select js-select" style="width: 100%;">
											<option>0.7 литров</option>
											<option>1 литр</option>
											<option>2 литра</option>
										</select>
									</div>
								</div>
								<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
							</div>
							<div class="cart__item">
								<div class="cart__col cart__product">
									<div class="cart__img">
										<img src="img/cart-img-00.png" alt="img">
									</div>
									<div class="cart__info">
										<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
										<div class="cart__categories">Виски</div>
									</div>
									<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
								</div>
								<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
								<div class="cart__col cart__qua">
									<span class="label">Количество</span>
									<div class="cart__select">
										<select class="select js-select" style="width: 100%;">
											<option>0.7 литров</option>
											<option>1 литр</option>
											<option>2 литра</option>
										</select>
									</div>
								</div>
								<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
							</div>
							<div class="cart__item">
								<div class="cart__col cart__product">
									<div class="cart__img">
										<img src="img/cart-img-00.png" alt="img">
									</div>
									<div class="cart__info">
										<div class="cart__name">Johnnie Walker Red Rye Finish, 1 л</div>
										<div class="cart__categories">Виски</div>
									</div>
									<a href="#" class="cart__close"><i class="icon icon-close-gray"></i></a>
								</div>
								<div class="cart__col cart__price"><span class="cart__value">1 375 грн</span></div>
								<div class="cart__col cart__qua">
									<span class="label">Количество</span>
									<div class="cart__select">
										<select class="select js-select" style="width: 100%;">
											<option>0.7 литров</option>
											<option>1 литр</option>
											<option>2 литра</option>
										</select>
									</div>
								</div>
								<div class="cart__col cart__amount"><span class="cart__value">2 750 грн</span></div>
							</div>
						</div>
					</div>
					<div class="cart__result">
						<div class="cart__row">
							<div class="cart__col cart__label">Количество</div>
							<div class="cart__col cart__number">4 шт.</div>
						</div>
						<div class="cart__row">
							<div class="cart__col cart__label cart__label_bottom">Итого к оплате:</div>
							<div class="cart__col cart__total cart__total_bottom">5 500грн</div>
						</div>
					</div>
					<div class="cart__footer">
						<button class="btn btn_large btn_xl">Оформить заказ</button>
					</div>
				</div>

				<!-- order BEGIN -->
				<div class="order">
					<!-- steps BEGIN -->
					<ul class="steps">
						<li class="step is-current"><span>шаг 1: Контактные данные</span></li>
						<li class="step"><span>шаг 2: Информация о доставке</span></li>
						<li class="step"><span>шаг 3: подтверждение заказа</span></li>
					</ul>
					<!-- steps END -->
					<form action="/" class="form form-step">
						<div class="row form__row">
							<div class="col col-6 col-xs-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Ваше имя*</div>
									<div class="form-item__input">
										<input type="text" class="input">
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Ваша фамилия*</div>
									<div class="form-item__input">
										<input type="text" class="input error">
									</div>
								</div>
							</div>
							<div class="col col-6 col-xs-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Телефон*</div>
									<div class="form-item__input">
										<input type="text" class="input">
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Email адрес</div>
									<div class="form-item__input">
										<input type="text" class="input">
									</div>
								</div>
							</div>
							<div class="col col-6 col-xs-12 form__col form__col_right">
								<button class="btn btn_large btn_block">Далее</button>
							</div>
							<div class="col col-6 col-xs-12 form__col">
								<div class="form__bottom form__bottom_right">
									<a href="#" class="form__link">Я постоянный клиент</a>
								</div>
							</div>
						</div>
					</form>
					<!-- steps BEGIN -->
					<ul class="steps">
						<li class="step"><span>шаг 1: Контактные данные</span></li>
						<li class="step is-current"><span>шаг 2: Информация о доставке</span></li>
						<li class="step"><span>шаг 3: подтверждение заказа</span></li>
					</ul>
					<!-- steps END -->
					<form action="/" class="form form-step">
						<div class="row form__row">
							<div class="col col-6 col-xs-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Город</div>
									<div class="select_lg">
										<select class="select js-select" style="width: 100%;">
											<option>Киев</option>
											<option>Одесса</option>
											<option>Харьков</option>
										</select>
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Варианты доставки</div>
									<div class="select_lg">
										<select class="select js-select" style="width: 100%;">
											<option>Бесплатно курьером</option>
											<option>Платно курьером</option>
											<option>Платно</option>
										</select>
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Улица</div>
									<div class="form-item__input">
										<input type="text" class="input">
									</div>
								</div>
								<div class="row">
									<div class="col col-6">
										<div class="form-item">
											<div class="form-item__title">Дом</div>
											<div class="form-item__input">
												<input type="text" class="input">
											</div>
										</div>
									</div>
									<div class="col col-6">
										<div class="form-item">
											<div class="form-item__title">Квартира</div>
											<div class="form-item__input">
												<input type="text" class="input">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col col-6 col-xs-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Варианты доставки</div>
									<div class="select_lg">
										<select class="select js-select" style="width: 100%;">
											<option>Бесплатно курьером</option>
											<option>Платно курьером</option>
											<option>Платно</option>
										</select>
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Варианты доставки</div>
									<div class="select_lg">
										<select class="select js-select" style="width: 100%;">
											<option>Бесплатно курьером</option>
											<option>Платно курьером</option>
											<option>Платно</option>
										</select>
									</div>
								</div>
								<div class="form-item">
									<div class="form-item__title">Текст комментария</div>
									<textarea class="textarea textarea-md"></textarea>
								</div>
								<button class="btn btn_large btn_block">Далее</button>
							</div>
						</div>
					</form>
					<!-- steps BEGIN -->
					<ul class="steps">
						<li class="step"><span>шаг 1: Контактные данные</span></li>
						<li class="step"><span>шаг 2: Информация о доставке</span></li>
						<li class="step is-current"><span>шаг 3: подтверждение заказа</span></li>
					</ul>
					<!-- steps END -->
					<form action="/" class="form form-step">
						<div class="row form__row">
							<div class="col col-6 col-sm-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Контактные данные</div>
									<ul class="confirmation confirmation_sm">
										<li class="confirmation__item"><span class="label">Имя:</span><span class="value">Дмитрий</span></li>
										<li class="confirmation__item"><span class="label">Фамилия:</span><span class="value">Наприенко</span></li>
										<li class="confirmation__item"><span class="label">Телефон:</span><span class="value">+380 (95) 005 90 25</span></li>
										<li class="confirmation__item"><span class="label">Email адрес:</span><span class="value">dmitrynaprienko@gmail.com</span></li>
									</ul>
								</div>
							</div>
							<div class="col col-6 col-sm-12 form__col">
								<div class="form-item">
									<div class="form-item__title">Информация о доставке</div>
									<ul class="confirmation">
										<li class="confirmation__item"><span class="label">Город:</span><span class="value">Киев</span></li>
										<li class="confirmation__item"><span class="label">Вариант доставки:</span><span class="value">Бесплатно курьером</span></li>
										<li class="confirmation__item"><span class="label">Адрес:</span><span class="value">ул. Саксаганского, д. 3, кв. 5</span></li>
										<li class="confirmation__item"><span class="label">Время:</span><span class="value">Завтра с 11:00 до 15:00</span></li>
										<li class="confirmation__item"><span class="label">Вариант оплаты:</span><span class="value">Наличные</span></li>
										<li class="confirmation__item"><span class="label">Комментарий:</span><span class="value">Можем выпить вместе с курьером у меня на кухне :)</span></li>
									</ul>
									<div class="form-item__checkbox">
										<label class="checkbox checkbox_black">
											<input type="checkbox">
											<span class="checkbox__text">Не перезванивайте мне для подтвержденя заказа</span>
											<span class="checkbox__icon"></span>
										</label>
									</div>
								</div>
								<button class="btn btn_large btn_block">оформить заказ</button>
							</div>
						</div>
					</form>

				</div>
				<!-- order BEGIN -->
			</div>
		</div>
		<!-- popup BEGIN -->
		<div class="popup js-modal" data-modal="comment">
			<div class="inner popup__inner popup__inner_md">
				<div class="popup__content popup__content_center js-modal-prevent">
					<a href="#" class="btn-close js-modal-control" data-target="comment"><i class="icon icon-close"></i></a>
					<div class="popup__title">Спасибо за заказ!</div>
					<p>Все наши служны уже работают над Вашим заказом. <br /> В ближайшее время с Вами свяжется менеджер, чтобы обсудить все детали покупки. Отличного Вам настроения!
					</p>
					<button class="btn btn_large btn_block">вернуться на главную</button>
				</div>
			</div>
		</div>
		<!-- popup END -->
		{% include "partials/_basket-modal.html" %}
		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/vendor/perfect-scrollbar.min.js"></script>
	<script src="js/vendor/jquery.autocomplete.min.js"></script>
	<script src="js/vendor/select2.min.js"></script>
	<script src="js/app.js"></script>
	<script>
		const ps = new PerfectScrollbar('.scrollbar');
	</script>
	<!-- script end -->

</body>
</html>
