---
title: subcategory
---
<!doctype html>
<html lang="ru-Ru">
{% include "partials/_head.html" %}
<body>
	<div class="out">
		{% include "partials/_header.html" %}

		<!-- preview BEGIN -->
		<div class="preview preview-category" style="background-image: url('img/preview-img-00.png');">
			<div class="preview-category__wrapper">
				<div class="inner">
					<div class="preview-category__content preview-category__content_center">
						<div class="preview-category__title">
							<h2>ВИСКИ</h2>
						</div>
						<ul class="breadcrumbs preview-category__breadcrumbs">
							<li><a href="#">Главная</a></li>
							<li><a href="#">Крепкие напитки</a></li>
							<li class="current"><a href="#">Виски</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- preview END -->

		<!-- subcategory BEGIN -->
		<div class="subcategory">
			<div class="subcategory__btns">
				<div class="inner">
					<div class="row">
						<div class="col col-sm-12">
							<a href="#" class="subcategory__btn js-modal-control" data-target="filters">Фильтр</a>
							<a href="#" class="subcategory__btn js-filter-btn">Сортировка</a>
						</div>
					</div>
				</div>
			</div>
			<div class="inner">
				<div class="row">
					<div class="col col-3 col-sm-12">
						<aside class="aside js-modal" data-modal="filters">
							<div class="aside__wrapper js-modal-prevent">
								<div class="aside__title">Выбрать виски <a href="#" class="aside__btn js-modal-control" data-target="filters"><i class="icon icon-close"></i></a></div>
								<div class="aside__body">
									<div class="aside__scroll">
										<div class="filter js-accordion is-active">
											<div class="filter__title"><a href="#" class="js-accordion-btn">Объем</a></div>
											<div class="filter__checkboxes js-accordion-item">
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount">
														<span class="checkbox__text">Все объемы</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount">
														<span class="checkbox__text">0.5 л</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount">
														<span class="checkbox__text">0.75 л</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount">
														<span class="checkbox__text">1 л</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__btn">
													<a href="#">
														<span class="filter__icon"></span>
														<span class="filter__text">Ещё</span>
													</a>
												</div>
											</div>
										</div>
										<div class="filter js-accordion is-active">
											<div class="filter__title"><a href="#" class="js-accordion-btn">вкус</a></div>
											<div class="filter__checkboxes js-accordion-item">
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount1">
														<span class="checkbox__text">Все вкусы</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount1">
														<span class="checkbox__text">Вишня<span>12</span></span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount1">
														<span class="checkbox__text">Шоколад</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount1">
														<span class="checkbox__text">Яблоко</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__btn">
													<a href="#">
														<span class="filter__icon"></span>
														<span class="filter__text">Ещё</span>
													</a>
												</div>
											</div>
										</div>
										<div class="filter js-accordion is-active">
											<div class="filter__title"><a href="#" class="js-accordion-btn">тип</a></div>
											<div class="filter__checkboxes js-accordion-item">
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Любой тип виски</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Односолодовый</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Купажированный</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Бурбон</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__btn">
													<a href="#">
														<span class="filter__icon"></span>
														<span class="filter__text">Ещё</span>
													</a>
												</div>
											</div>
										</div>
										<div class="filter js-accordion">
											<div class="filter__title"><a href="#" class="js-accordion-btn">сочетание</a></div>
											<div class="filter__checkboxes js-accordion-item">
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Любой тип виски</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Односолодовый</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Купажированный</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__item">
													<label class="checkbox">
														<input type="radio" name="amount2">
														<span class="checkbox__text">Бурбон</span>
														<span class="checkbox__icon"></span>
													</label>
												</div>
												<div class="filter__btn">
													<a href="#">
														<span class="filter__icon"></span>
														<span class="filter__text">Ещё</span>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</aside>
					</div>
					<div class="col col-9 col-sm-12">
						<div class="subcategory_right">
							<div class="row">
								<div class="col col-12">
									<div class="sorting js-filter-item">
										<div class="sorting__title">сортировка по:</div>
										<ul class="sorting__list">
											<li><a href="#" class="animation-line">названию</a></li>
											<li><a href="#" class="animation-line">возрастанию цены</a></li>
											<li><a href="#" class="animation-line">убыванию цены</a></li>
											<li class="active"><a href="#" class="animation-line">популярности</a></li>
										</ul>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-4 col-md-6 col-sm-4 col-xs-6 col-xxs-12">
									<div class="item">
										<div class="item__wrapper">
											<div class="item__hearth"><a href="#"><i class="icon icon-hearth"></i></a></div>
											<div class="item__img">
												<img src="img/popular-img-00.png" alt="img">
											</div>
											<div class="item__rate">
												<ul class="rate">
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li class="active"><a href="#"><i class="icon icon-star"></i></a></li>
													<li><a href="#"><i class="icon icon-star"></i></a></li>
												</ul>
											</div>
											<div class="item__name">Baileys Original, 0.7 л</div>
											<div class="item__categories">Ликер</div>
											<div class="item__price"><span class="item__price_default">510 грн</span></div>
											<div class="item__btn">
												<a href="#" class="btn btn_block btn_small btn_icon"><i class="icon icon-basket"></i><span>в корзину</span></a>
											</div>
										</div>
									</div>
								</div>
								<div class="col col-12 text-center">
									<a href="#" class="btn btn_large btn_black btn_indent">загрузить ещё</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- subcategory END -->
		{% include "partials/_basket-modal.html" %}
		{% include "partials/_footer.html" %}
	</div>

	<!-- script begin -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/vendor/select2.min.js"></script>
	<script src="js/vendor/jquery.autocomplete.min.js"></script>
	<script src="js/app.js"></script>
	<!-- script end -->

</body>
</html>
