<!-- popup BEIGN -->
<div class="popup popup-aside js-modal" data-modal="basket">
	<div class="popup__content js-modal-prevent">
		<div class="basket">
			<div class="basket__title">
				<p>корзина (<span>2</span>)</p>
				<a href="#" class="basket__close js-modal-control" data-target="basket">
					<i class="icon icon-close"></i>
				</a>
			</div>
			<div class="basket__scroll">
				<div class="basket__item scrollbar">
					<div class="row-item">
						<div class="row-item__img">
							<img src="img/basket-img-00.png" alt="img">
						</div>
						<div class="row-item__content">
							<div class="row-item__title">Johnnie Walker Red Rye Finish, 1 л</div>
							<div class="row-item__category">Виски</div>
							<div class="row-item__quantity">
								<span class="label">Количество:</span>
								<div class="row-item__select">
									<select class="select js-select" style="width: 100%">
										<option value="1">1</option>
										<option value="2">2</option>
									</select>
								</div>
							</div>
							<div class="row-item__price"><span>750</span> грн</div>
						</div>
					</div>
					<div class="row-item">
						<div class="row-item__img">
							<img src="img/basket-img-01.png" alt="img">
						</div>
						<div class="row-item__content">
							<div class="row-item__title">Johnnie Walker Red Rye Finish, 1 л</div>
							<div class="row-item__category">Виски</div>
							<div class="row-item__quantity">
								<span class="label">Количество:</span>
								<div class="row-item__select">
									<select class="select js-select" style="width: 100%">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</div>
							<div class="row-item__price"><span>750</span> грн</div>
						</div>
					</div>
				</div>
			</div>
			<div class="basket__bottom">
				<div class="basket__price">
					<div class="basket__price_left"><span>итого:</span></div>
					<div class="basket__price_right"><span>3 250 грн</span></div>
				</div>
				<div class="basket__btn">
					<a href="#" class="btn btn_block btn_large">оформить заказ</a>
					<a href="#" class="btn btn_block btn_large btn_transparent">продолжить покупки</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- popup END -->
