<!-- footer BEGIN -->
<footer class="footer">
	<div class="inner">
		<div class="footer__content">
			<div class="row">
				<div class="col col-20">
					<div class="item">
						<div class="logo footer__logo">
							<img src="img/logo.png" alt="THEBOTTLE">
						</div>
					</div>
				</div>
				<div class="col col-20">
					<div class="item">
						<div class="item__title">категории</div>
						<ul class="item__list">
							<li><a href="#">Крепкие напитки</a></li>
							<li><a href="#">Ликеры</a></li>
							<li><a href="#">Вина и игристые вина</a></li>
							<li><a href="#">Вермуты</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-20">
					<div class="item">
						<div class="item__title">информация</div>
						<ul class="item__list">
							<li><a href="#">О магазине</a></li>
							<li><a href="#">Доставка и оплата</a></li>
							<li><a href="#">Условия работы</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="col col-22">
					<div class="item">
						<div class="item__title">Акции и новости</div>
						<div class="item__input">
							<div class="input__address">
								<input type="text" placeholder="Адрес электронной почты">
								<button type="submit"><i class="icon icon-input-arrow"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col col-18">
					<div class="item">
						<div class="item__title">мы в соц. сетях</div>
						<div class="item__social">
							<ul class="social">
								<li><a href="#"><i class="icon icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon icon-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="footer__copyright text">© TheBottle, 2018. Все права защищены </div>
			<div class="footer__created text">Created by Naprienko</div>
		</div>
	</div>
</footer>
<!-- footer END -->
