<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#fff">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

	<!-- Libs stylesheet -->
	<link rel="stylesheet" media="all" href="css/perfect-scrollbar.css">
	<link rel="stylesheet" media="all" href="css/select2.min.css">
	<link rel="stylesheet" media="all" href="css/input.css">
	<link rel="stylesheet" media="all" href="css/style.min.css">
</head>
