// btn
.btn
	background-color: $pink
	text-align: center
	font-size: $text-xs
	color: $white
	+font-family($exo)
	line-height: 1
	letter-spacing: .2em
	font-weight: 700
	border-radius: 3px
	text-transform: uppercase
	padding: 8px 10px
	display: inline-block
	transition: background-color .3s linear, border-color .3s linear, color .3s linear
	outline: none !important
	border: 2px solid $pink
	white-space: nowrap
	background-clip: padding-box
	&:hover
		background-color: $black-lighten
		border-color: $black-lighten
	&:focus
		background-color: rgba($black-lighten, .6)
		border-color: rgba($black-lighten, .6) !important
	&_large
		max-width: 280px
		width: 100%
		padding: 17px 10px
		&.btn_icon
			padding: 13px 10px
		span
			font-size: $text-xs
	&_small,
	&_large
		.icon,
		span
			display: inline-block
			vertical-align: middle
			letter-spacing: .2em
		.icon
			margin-right: 15px
	&_small
		padding: 12px 10px
		max-width: 240px
		width: 100%
		&.btn_icon
			padding: 8.5px 10px
		span
			font-size: 10px
	&_xl
		max-width: 420px
	&_block
		display: block
		max-width: 100%
	&_transparent
		background-color: transparent
		border-color: $black-lighten
		color: $black-lighten
		&:hover
			color: $white
	&_black
		border-color: $black-lighten
		background-color: $black-lighten
		color: $white
		&:hover
			color: $black-lighten
			background-color: transparent
	&_indent
		margin-top: 40px
	&_search
		margin-left: 33px
		padding: 7px
		+r(767)
			display: none
	&_menu
		width: 32px
		height: 32px
		text-align: center
		background-color: $pink
		border-radius: 50%
		+vertical
		.icon
			vertical-align: middle
		&.active
			.icon-menu
				+sprite($s-icon-close)
	&_next
		font-size: 0
		+r(991)
			display: none
		span,.icon
			vertical-align: middle
		span
			display: inline-block
			font-size: $text-sm
			color: $white
			letter-spacing: .05em
			margin-right: 10px
	&_login
		display: inline-block
		vertical-align: middle
		margin-right: 38px
		+r(767)
			display: none
		span
			color: $black-lighten
			font-size: $text-sm
			letter-spacing: .20rem
			font-weight: 700
	&_basket
		display: inline-block
		vertical-align: middle
		position: relative
		.number
			width: 11px
			height: 11px
			background-color: $pink
			border-radius: 50%
			text-align: center
			line-height: 11px
			color: $white
			font-size: 8px
			font-weight: 700
			position: absolute
			top: -5px
			right: -5px
	&-add
		font-size: 0
		display: inline-block
		padding: 18px 0
		span,
		.icon
			display: inline-block
			vertical-align: middle
		.icon
			margin-right: 10px
		span
			font-size: $text-sm
			color: $black-lighten
	&-top
		width: 32px
		height: 32px
		background-color: $white
		border: 1px solid #f5f5f5
		+vertical
		position: fixed
		right: 100px
		bottom: 40px
		z-index: 9991
		+r(991)
			position: relative
			right: 0
			bottom: 0
			top: 16px
			display: block
			margin: 0 auto
		.icon
			vertical-align: middle
