// footer BEGIN
.footer
	background-color: #f5f5f5
	padding: 80px 0 40px
	&_bottom
		padding-top: 40px
		+clr
	&__copyright
		float: left
	&__created
		float: right
	.item
		&__title
			letter-spacing: .2em
			color: $pink
			font-weight: 700
			text-transform: uppercase
			font-size: $text-xs
			margin-bottom: 25px
		&__list
			li
				margin-bottom: 14px
				a
					color: $black-lighten
		&__input
			margin-top: -10px
	&__logo
		padding-top: 2px
