.header
	position: relative
	height: 80px
	background-color: $white
	padding: 24px 0
	&-left
		float: left
	&-right
		float: right
		font-size: 0
	&-btn
		display: inline-block
		vertical-align: middle
	&__logo
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
	&__login
		display: inline-block
		font-size: 0
		padding-top: 6px
		span,
		.icon
			display: inline-block
			vertical-align: middle
		span
			color: $black-lighten
			font-size: $text-sm
			margin-right: 38px
			letter-spacing: .20rem
			font-weight: 700

