.header
	background-color: $white
	box-shadow: 0 0 10px rgba($black-lighten, .1)
	position: relative
	&__wrapper
		padding: 24px 0
		height: 80px
		position: relative
		+clr
		+r(991)
			padding: 20px 0
			height: 72px
	&__left
		float: left
	&__right
		float: right
		font-size: 0
		padding-top: 6px
	&__btn
		display: inline-block
		vertical-align: middle
	&__logo
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
	&__menu
		display: none
	&__search
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		width: 100%
		height: 100%
		opacity: 0
		visibility: hidden
		transition: opacity .3s linear, visibility .3s linear
		&.is-open
			opacity: 1
			visibility: visible
