// main style
.preview
	position: relative
	&__btn
		position: absolute
		max-width: 1080px
		width: 100%
		bottom: 40px
		left: 50%
		transform: translateX(-50%)
		+clr
	.slick
		&-dots
			float: left
			position: relative
			font-size: 0
			padding-top: 3px
	.btn
		&_next
			float: right
.preview-category
	+cover
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba($black, .6)
	&__wrapper
		+gr($black, rgba($black, .0))
	&__content
		position: relative
		z-index: 5
		min-height: 320px
		&_center
			text-align: center
	&__title
		max-width: 400px
		display: inline-block
		padding: 124px 0
		h2
			margin-bottom: 0
		p
			font-size: $text-reg
			line-height: 1.5
			padding: 40px 0
			color: $white
			margin-bottom: 0
	&__breadcrumbs
		position: absolute
		right: 0
		bottom: 35px
.slider
	&__item
		position: relative
		outline: none
		+cover
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba($black, .6)
		.label
			font-size: 10px
			letter-spacing: .3em
			color: $white
			text-transform: uppercase
			padding-top: 80px
			position: relative
			writing-mode: vertical-lr
			display: block
			white-space: nowrap
			&:before
				content: ""
				height: 40px
				width: 1px
				background-color: $white
				position: absolute
				left: 50%
				top: 0
				transform: translateX(-50%)
	&__content
		padding: 185px 0 175px
		z-index: 5
		&_left
			max-width: 420px
			float: left
			p
				color: $white
				font-size: $text-reg
				line-height: 1.5
				margin-bottom: 50px
			.btn
				margin-bottom: 30px
	&__label
		position: absolute
		right: 0
		top: 30px
	&__wrapper
		position: relative
		+clr

// product
.product
	padding: 80px 0

// banner
.banner
	padding: 30px 40px 40px
	+cover
	position: relative
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background-color: rgba($black, .5)
	h4
		margin-bottom: 12px
	p
		font-size: $text-xs
		text-transform: uppercase
		color: $gray
		letter-spacing: .2em
		line-height: 1
		margin-bottom: 0
	&__wrapper
		position: relative
		z-index: 5
		min-height: 230px
	&__buy
		font-size: $text-sm
		font-weight: 700
		color: $white
		letter-spacing: .2em
		text-transform: uppercase
		display: inline-block
	&_position
		position: absolute
		right: 0
		bottom: 0

// popular
.popular
	background-color: #f5f5f5
	padding-bottom: 40px

// item
.item
	height: 480px
	margin-bottom: 40px
	&__wrapper
		background-color: $white
		padding: 10px 20px 20px
		position: relative
		box-shadow: 0 0 20px transparent
		transition: box-shadow .3s linear, transform .3s linear
		transform: translateY(0)
		&:hover
			box-shadow: 0 0 20px rgba($black, .1)
			transform: translateY(-10px)
			.item__rate
				opacity: 1
				height: 20px
			.item__hearth
				visibility: visible
				opacity: 1
	&__hearth
		position: absolute
		left: 10px
		top: 10px
		visibility: hidden
		opacity: 0
		transition: visibility .3s linear, opacity .3s linear
	&__sticker
		position: absolute
		top: 0
		right: 0
		font-size: 10px
		color: $white
		font-weight: 700
		z-index: 6
		letter-spacing: .2em
		padding: 8px
		text-transform: uppercase
		&_orange
			background-color: #e74c3c
		&_yellow
			background-color: #f1c40f
	&__img
		position: relative
		padding: 0 8px
		height: 250px
		margin-bottom: 25px
		+vertical
		img
			max-height: 250px
			vertical-align: middle
			display: inline-block
	&__rate
		text-align: center
		height: 0
		opacity: 0
		transition: height .3s linear, opacity .3s linear
	&__name
		font-size: $text-reg
		line-height: 1.25
		letter-spacing: .01em
		font-weight: 700
		height: 2.5em
		overflow: hidden
		margin: 15px 0
		display: inline-block
		width: 100%
	&__categories
		color: #9ea2a8
		margin-bottom: 16px
		+text-overflow
	&__price
		margin-bottom: 16px
		font-size: 0
		span
			font-size: $text-reg
			letter-spacing: .01em
			font-weight: 700
			display: inline-block
		&_default
			color: $pink
		&_old
			color: $black-lighten
			position: relative
			margin-right: 20px
			&:before
				content: ""
				width: 100%
				height: 2px
				background-color: $black-lighten
				position: absolute
				left: 0
				top: 9px

// box
.box
	margin-bottom: 80px
	+clr
	&:first-child
		padding: 0 100px 0 40px
	&:last-child
		padding: 0 40px 0 160px
	&__img
		width: 100%
		.img
			+cover
	&__content
		padding-top: 60px
		+clr
		span
			display: block
			margin-bottom: 25px
			+font-family($exo)
			font-weight: 700
			color: $black-lighten
			font-size: 32px
		p
			margin-bottom: 30px
	&_left
		padding: 0 40px 0 100px
		.box__img
			max-width: 42.56%
			float: left
			.img
				padding-top: 75%
		.box__wrapper
			margin-left: 42.56%
		.box__content
			padding-left: 80px
			.box__btn
				float: right
	&_right
		padding: 0 100px 0 100px
		.box__img
			max-width: 38.64%
			float: right
			.img
				padding-top: 88.23%
		.box__wrapper
			float: left
			width: 100%
			margin-right: -38.64%
		.box__content
			padding-right: 47.72%
	&__btn
		letter-spacing: .2em
		font-size: $text-xs
		color: $black-lighten
		font-weight: 700

.sm-item
	&_indent
		padding-left: 15px
	&__title
		letter-spacing: .2em
		color: $pink
		font-weight: 700
		text-transform: uppercase
		font-size: $text-xs
		margin-bottom: 25px
	&__list
		li
			margin-bottom: 14px
			a
				color: $black-lighten
	&__input
		margin-top: -10px

.simple-item
	position: relative
	cursor: pointer
	&:hover
		.simple-item__title
			span
				color: $pink
		.icon-alcohol
			+sprite($s-icon-strong-alcohol-active)
		.icon-liqueurs
			+sprite($s-icon-liqueurs-active)
		.icon-wine
			+sprite($s-icon-wine-active)
		.icon-vermouth
			+sprite($s-icon-vermouth-active)
		.simple-item__dropdown
			visibility: visible
			opacity: 1
	&__title
		font-size: 0
		display: flex
		align-items: center
		+clr
		span
			font-size: $text-xs
			color: $black-lighten
			font-weight: 700
			letter-spacing: .2em
			line-height: 1.5
			padding: 0 10px 0 40px
			text-transform: uppercase
	&__dropdown
		margin-top: 10px
		visibility: hidden
		opacity: 0
		transition: opacity .4s linear, visibility .4s linear

// basket
.basket
	height: 100%
	position: relative
	&__title
		position: absolute
		top: 0
		left: 0
		width: 100%
		padding: 0 40px
		+clr
		p
			float: left
			font-weight: 700
			text-transform: uppercase
			font-size: $text-xs
			letter-spacing: .2em
			padding: 2px 0 2px 65px
	&__close
		float: right
		font-size: 0
	&__bottom
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		padding: 0 40px
	&__btn
		.btn
			&:not(:last-child)
				margin-bottom: 20px
	&__price
		margin-bottom: 20px
		+clr
		span
			font-weight: 700
		&_left
			float: left
			span
				font-size: $text-xs
				letter-spacing: .2em
				text-transform: uppercase
		&_right
			float: right
			span
				font-size: $text-sm
				letter-spacing: .01em
				color: $pink
	&__scroll
		padding: 70px 0 160px
		height: 100%
	&__item
		overflow: auto
		height: 100%
		padding: 0 40px

// row-item
.row-item
	padding: 20px 0
	+clr
	&:not(:last-child)
		border-bottom: 1px solid #f5f5f5
	&__img
		width: 80px
		height: 160px
		overflow: hidden
		float: left
		+vertical
		img
			max-height: 160px
			display: inline-block
			vertical-align: middle
	&__content
		margin-left: 80px
		padding: 5px 0 0 20px
	&__title
		font-size: $text-sm
		font-weight: 700
		letter-spacing: .01em
		line-height: 1.28
		height: 2.572em
		overflow: hidden
		margin-bottom: 15px
	&__category
		letter-spacing: .025em
		color: #9ea2a8
		+text-overflow
		margin-bottom: 20px
	&__quantity
		display: inline-block
		width: 100%
		margin-bottom: 20px
		+clr
		span
			display: inline-block
			padding-top: 8px
	&__select
		float: right
		.select
			width: 60px
	&__price
		color: $pink
		font-weight: 700
		letter-spacing: .01em

// col-items
.col-items
	text-align: center
	padding: 80px 0 40px
	.row
		font-size: 0
	&__wrapper
		display: inline-block
		width: 50%
		vertical-align: top
		padding: 0 20px
		margin-bottom: 40px
.col-item
	padding: 40px
	text-align: left
	background-color: #f5f5f5
	transition: background .3s linear
	+clr
	&:hover
		background-color: $pink
		.col-item__title,
		.col-item__btn,
		p
			color: $white
		.col-item__btn:before
			background-color: $black-lighten
	&__title,
	&__btn,
	p
		transition: color .3s linear
	&__img
		float: left
		width: 80px
		height: 180px
		+vertical
		img
			max-height: 180px
	&__content
		margin-left: 80px
		padding-left: 30px
		position: relative
		height: 180px
	&__title
		font-size: 36px
		line-height: 0.89
		font-weight: 700
		margin-bottom: 24px
	p
		font-size: $text-sm
		line-height: 1.43
		margin-bottom: 0
		overflow: hidden
		height: 5.715em
	&__btn
		font-size: $text-xs
		letter-spacing: .2em
		font-weight: 700
		color: $black-lighten
		text-transform: uppercase
		&_position
			position: absolute
			right: 0
			bottom: 5px

// subcategory
.subcategory
	overflow: hidden
	&_right
		padding: 80px 0
	.item__wrapper
		box-shadow: 0 0 20px rgba(0,0,0,.1)

// card
.card
	padding: 80px 0
	&__breadcrumbs
		margin-bottom: 25px
		li
			margin-bottom: 10px
			&.current
				a
					color: $black-lighten
			a
				color: #818181
	&__content
		padding-top: 10px
	&__title
		font-size: 36px
		letter-spacing: .025em
		font-weight: 700
		margin-bottom: 30px
	&__rate
		margin-bottom: 40px
		font-size: 0
		.rate
			display: inline-block
			vertical-align: middle
		.number
			display: inline-block
			vertical-align: middle
			margin-left: 20px
			letter-spacing: .025em
			font-size: $text-sm
	&__list
		li
			font-size: 0
			+clr
			&:not(:last-child)
				margin-bottom: 20px
			span
				font-size: $text-sm
			.left
				width: 100px
				word-wrap: break-word
				float: left
			.right
				color: #818181
				overflow: hidden
				display: block
				padding-left: 5px
	&__selects
		padding-top: 21px
	&__select
		+clr
		&:not(:last-child)
			margin-bottom: 40px
		span
			display: block
			overflow: hidden
			padding: 10px 5px 0 0
			word-wrap: break-word
		.select
			float: right
			width: 118px
	&__price
		font-size: 0
		padding-top: 45px
		&_default
			margin-right: 15px
			font-size: 36px
			color: $pink
		&_old
			font-size: 24px
			position: relative
			top: -2px
			&:before
				content: ""
				position: absolute
				left: 0
				top: 50%
				height: 1px
				width: 100%
				background-color: $black-lighten
		span
			display: inline-block
			vertical-align: text-bottom
			font-weight: 700
	&__btn
		padding-top: 30px
		font-size: 0
		.btn_large
			max-width: 240px
			margin-right: 40px
			vertical-align: middle
// case
.case
	box-shadow: 0 0 10px rgba(#0a0f17, .1)
	position: relative
	padding: 20px
	&__sticker
		position: absolute
		top: 0
		right: 0
		color: $white
		font-size: $text-xs
		font-weight: 700
		text-transform: uppercase
		letter-spacing: .2em
		padding: 18px 19px
		&_orange
			background-color: $orange
	&__wrapper
		height: 480px
		position: relative
	&__nav
		width: 90px
		overflow: auto
		height: 100%
		position: absolute
		left: 0
		top: 0
	&__for
		height: 100%
		padding: 0 110px
	&__item
		&_small,
		&_big
			overflow: hidden
			+vertical
		&_small
			height: 120px
			border: 1px solid #f5f5f5
			display: block
			padding: 5px
			transition: border-color .3s linear
			&:not(:last-child)
				margin-bottom: 10px
			&.active
				border-color: $black-lighten
			img
				max-height: 100px
				display: inline-block
				vertical-align: middle
		&_big
			height: 100%
			img
				max-height: 440px
				display: inline-block
				vertical-align: middle

// description
.description
	.title
		color: $pink
		font-size: 24px
		line-height: 1.34
		font-weight: 700
		padding: 0
		margin-bottom: 45px
	.row
		margin: 0 -60px
		.col
			padding: 0 60px
	.sub-title
		font-size: $text-exmd
		letter-spacing: .025em
		font-weight: 700
		margin-bottom: 20px
		&_center
			text-align: center
	&__grid
		margin-bottom: 10px
	&__row
		margin-bottom: 30px
	&__block
		max-width: 600px
		width: 100%
		margin: 0 auto
		padding-bottom: 35px
		p
			margin-bottom: 30px

// reviews
.reviews
	padding-bottom: 80px
	.title
		padding: 0 0 65px
		font-size: 36px
		font-weight: 700
		letter-spacing: .025em
	&__btn
		text-align: center
.review
	margin-bottom: 55px
	&__name
		font-size: 20px
		font-weight: 700
		letter-spacing: .025em
		margin-bottom: 20px
	.rate
		margin-bottom: 15px
	&__text
		color: #818181
		font-size: $text-reg
		line-height: 1.5
		margin-bottom: 20px
		a
			color: #818181
			font-style: italic
			text-decoration: underline
			font-size: $text-sm
			&:hover
				text-decoration: none
	&__data
		font-size: $text-xs
		color: #9ea2a8


// cart
.cart
	margin-bottom: 80px
	&__title
		font-size: 24px
		font-weight: 700
		letter-spacing: .025em
	&__head
		text-align: right
		.cart__col
			padding: 9px 40px 15px
	&__item
		background-color: #f5f5f5
		font-size: 0
	&__col
		padding: 20px 40px
		position: relative
	&__body
		margin-bottom: 25px
	&__img,
	&__info,
	&__col
		display: inline-block
		vertical-align: middle
	&__close
		position: absolute
		right: 40px
		top: 50%
		padding: 20px
		transform: translate3d(50%,-50%,0)
	&__img
		width: 90px
		height: 120px
		padding: 5px
		background-color: $white
		margin-right: 20px
		+vertical
		img
			display: inline-block
			vertical-align: middle
	&__info
		max-width: 180px
	&__name
		font-size: $text-sm
		font-weight: 700
		line-height: 1.29
		letter-spacing: .01em
		margin-bottom: 14px
	&__categories
		letter-spacing: .025em
		font-size: $text-sm
		color: #9ea2a8
	&__value
		font-size: $text-sm
		font-weight: 700
		letter-spacing: .01em
	&__select
		width: 120px
		background-color: $white
		font-size: $text-sm
		letter-spacing: .025em
		padding: 5px 15px 6px 12px
		text-align: left
	&__total,
	&__label,
	&__number
		padding: 10px 40px
	&__price,
	&__amount,
	&__total,
	&__number
		width: 13%
		padding-left: 20px
		text-align: right
	&__qua,
	&__label
		width: 18.6%
	&__product
		width: 55.4%
		padding-right: 60px
	&__number,
	&__label
		font-size: $text-sm
		letter-spacing: .025em
		padding-left: 20px
	&__total
		font-size: 20px
		letter-spacing: .025em
		font-weight: 700
		color: $pink
		padding-left: 0
		white-space: nowrap
	&__label_bottom,
	&__totl_bottom
		vertical-align: bottom
	&__heading
		font-size: $text-sm
		color: #818181
	&__result
		margin-bottom: 65px
	&__result,
	&__footer
		text-align: right
	&__scroll
		overflow: auto
		height: 320px

// steps
.steps
	font-size: 0
	padding-bottom: 35px
.step
	display: inline-block
	position: relative
	margin-bottom: 15px
	&.is-current
		span
			color: $black-lighten
	&:not(:first-child)
		padding-left: 40px
		margin-left: 20px
		&:before
			content: ""
			background-color: #818181
			width: 20px
			height: 1px
			position: absolute
			left: 0
			top: 50%
	span
		font-weight: 700
		font-size: 10px
		color: #818181
		letter-spacing: .2em
		text-transform: uppercase

// order
.order
	padding: 0 80px

// confirmation
.confirmation
	font-size: 0
	padding: 33px 0
	&_sm
		max-width: 302px
	&__item
		+clr
		&:not(:last-child)
			margin-bottom: 13px
		.label
			float: left
			width: 38.1%
		.value
			padding-left: 5px
			overflow: hidden
			color: #818181
			display: block
		.value,
		.label
			line-height: 1.29
			font-size: $text-sm

.about
	padding: 80px 0 25px
	.article
		max-width: 600px
		margin: 0 auto 45px
	.reviews
		padding-bottom: 0
		.title
			padding: 25px 0
			p
				font-weight: 400
				margin-top: 20px
				strong
					color: $black-lighten
// article
.article
	max-width: 600px
	margin: 0 auto 45px
	h2
		font-size: $text-exmd
		color: $black-lighten
		text-align: center
		margin-bottom: 20px
		&:not(:first-child)
			padding-top: 20px
	p
		a
			color: $pink
			font-weight: 700
	ul
		li
			padding-left: 40px
			position: relative
			&:before
				content: ""
				width: 20px
				height: 1px
				background-color: $pink
				position: absolute
				left: 0
				top: 12px
// delivery
.delivery
	padding-bottom: 35px

// contacts
.contacts
	padding-bottom: 50px
	p a
		color: $pink
		font-weight: 700
	&__wrapper
		margin-top: 50px
		p
			margin-bottom: 28px
.contacts-item
	margin-bottom: 45px
	&__title
		font-weight: 700
		font-size: $text-exmd
		letter-spacing: .025em
		margin-bottom: 16px
	p
		margin-bottom: 4px
		a
			color: #818181
			font-weight: 400
