// main style
.preview
	position: relative
	.slider
		&__item
			position: relative
			outline: none
			+cover
			&:before
				content: ""
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background-color: rgba($black, .6)
			.label
				font-size: 10px
				letter-spacing: .3em
				color: $white
				text-transform: uppercase
				padding-top: 80px
				position: relative
				writing-mode: vertical-lr
				display: block
				min-height: 250px
				&:before
					content: ""
					height: 40px
					width: 1px
					background-color: $white
					position: absolute
					left: 50%
					top: 0
					transform: translateX(-50%)
		&__content
			padding: 185px 0 175px
			z-index: 5
			&-left
				max-width: 420px
				float: left
				p
					color: $white
					font-size: $text-reg
					line-height: 1.5
					margin-bottom: 50px
				.btn
					margin-bottom: 30px
		&__label
			position: absolute
			right: 0
			top: 30px
		&-wrapper
			position: relative
			+clr
	&__btn
		position: absolute
		max-width: 1080px
		width: 100%
		bottom: 40px
		left: 50%
		transform: translateX(-50%)
		text-align: right

// product
.product
	padding: 80px 0
	&__item
		padding: 30px 40px 40px
		+cover
		position: relative
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba($black, .5)
		h4
			margin-bottom: 12px
		p
			font-size: $text-xs
			text-transform: uppercase
			color: $gray
			letter-spacing: .2em
	&__wrapper
		position: relative
		z-index: 5
		min-height: 230px
	&__buy
		font-size: $text-sm
		font-weight: 700
		color: $white
		letter-spacing: .2em
		text-transform: uppercase
		display: inline-block
	&_position
		position: absolute
		right: 0
		bottom: 0

// popular
.popular
	background-color: #f5f5f5
	padding-bottom: 40px
	&__item
		height: 480px
		margin-bottom: 40px
	&__wrapper
		background-color: $white
		padding: 10px 20px 20px
		position: relative
		box-shadow: 0 0 20px transparent
		transition: box-shadow .3s linear, transform .3s linear
		transform: translateY(0)
		&:hover
			box-shadow: 0 0 20px rgba($black, .1)
			transform: translateY(-10px)
			.popular__rate
				opacity: 1
				height: 20px
			.popular__hearth
				visibility: visible
				opacity: 1
	&__hearth
		position: absolute
		left: 10px
		top: 10px
		visibility: hidden
		opacity: 0
		transition: visibility .3s linear, opacity .3s linear
	&__sticker
		position: absolute
		top: 0
		right: 0
		font-size: 10px
		color: $white
		font-weight: 700
		z-index: 6
		letter-spacing: .2em
		padding: 8px
		text-transform: uppercase
		&_orange
			background-color: #e74c3c
		&_yellow
			background-color: #f1c40f
	&__img
		position: relative
		padding: 0 8px
		height: 250px
		margin-bottom: 25px
		+vertical
		img
			max-height: 250px
			vertical-align: middle
			display: inline-block
	&__rate
		text-align: center
		height: 0
		opacity: 0
		transition: height .3s linear, opacity .3s linear
	&__name
		font-size: $text-reg
		line-height: 1.25
		letter-spacing: .01em
		font-weight: 700
		height: 2.5em
		overflow: hidden
		margin: 15px 0
		display: inline-block
		width: 100%
	&__categories
		color: #9ea2a8
		margin-bottom: 17px
		+text-overflow
	&__price
		margin-bottom: 16px
		font-size: 0
		span
			font-size: $text-reg
			letter-spacing: .01em
			font-weight: 700
			display: inline-block
		&_default
			color: $pink
		&_old
			color: $black-lighten
			position: relative
			margin-right: 20px
			&:before
				content: ""
				width: 100%
				height: 2px
				background-color: $black-lighten
				position: absolute
				left: 0
				top: 9px

// categories
.categories
	&__img
		width: 100%
		.img
			+cover
	&__content
		padding-top: 60px
		+clr
		span
			display: block
			margin-bottom: 25px
			+font-family($exo)
			font-weight: 700
			color: $black-lighten
			font-size: 32px
		p
			font-size: $text-reg
			color: #818181
			line-height: 1.5
			margin-bottom: 30px
	&__item
		margin-bottom: 80px
		+clr
		&:first-child
			padding: 0 100px 0 40px
		&:last-child
			padding: 0 40px 0 160px
		&-left
			padding: 0 40px 0 100px
			.categories__img
				max-width: 42.56%
				float: left
				.img
					padding-top: 75%
			.categories__wrapper
				margin-left: 42.56%
			.categories__content
				padding-left: 80px
				.categories__btn
					float: right
		&-right
			padding: 0 100px 0 100px
			.categories__img
				max-width: 38.64%
				float: right
				.img
					padding-top: 88.23%
			.categories__wrapper
				float: left
				width: 100%
				margin-right: -38.64%
			.categories__content
				padding-right: 47.72%
	&__btn
		letter-spacing: .2em
		font-size: $text-xs
		color: $black-lighten
		font-weight: 700
